.locations {
  text-align: center;

  @media (min-width: $screen-sm) {
    text-align: left;
  }

  header {
    @include bg-cover('locations-header-bg', bottom, center);

    h1 {
      @media (max-width: $screen-sm) {
        font-size: 50px;
      }
    }
  }
}

.location {
  color: $color-white;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 20px;

  address {
    color: $color-red;
    font-weight: 600;
    margin-bottom: 2px;
  }

  h2 {
    color: $color-black;
    font-size: 22px;
    margin: 0 0 8px;
    text-transform: uppercase;
  }
}
