.reservations {
  header {
    @include bg-cover('reservations-header-bg', bottom, right);
  }

  h3 {
    margin-top: 0;
  }

  .reservations {
    margin-bottom: 60px;

    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }
  }

  .details {
    margin-top: 60px;

    @media (min-width: $screen-sm) {
      margin-top: 25px;
    }

    address {
      text-transform: uppercase;
    }

    .list-unstyled {
      margin-top: 20px;
    }
  }
}
