---
title: Events
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<div id="wsite-content" class="wsite-elements wsite-not-footer">
    <h2 class="wsite-content-title" style="text-align:center;">PRIVATE EVENTS</h2>
    <div class="paragraph" style="text-align:center;display:block;">Inquire about events with Thunderdome.
        <br />
        <br />
        <br />
        <br />

    <div style="text-align:center;">
        <div style="height: 10px; overflow: hidden;"></div>
        <%= link_to '<span class="wsite-button-inner">Private Events Bookings</span>'.html_safe, data.kaze.private_events_url, class: 'wsite-button wsite-button-small wsite-button-normal' %>
        <div style="height: 10px; overflow: hidden;"></div>
    </div>

        <div style="height: 20px; overflow: hidden;"></div>
    </div>
</div>
