---
title: Events
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>

<div id="wsite-content" class="wsite-elements wsite-not-footer">
    <h2 class="wsite-content-title" style="text-align:center;">PRIVATE EVENTS</h2>
    <div class="paragraph" style="text-align:center;display:block;">We are eager to accommodate your party, private event, what have you. Just let us know what you have in mind, and we'll be happy to help.
        <br />
        <br />Inquire about events with Thunderdome.&nbsp;
        <br />
        <br />

    <div style="text-align:center;">
        <div style="height: 10px; overflow: hidden;"></div>
        <%= link_to '<span class="wsite-button-inner">Private Events Bookings</span>'.html_safe, data.kaze.private_events_url, class: 'wsite-button wsite-button-small wsite-button-normal' %>
        <div style="height: 10px; overflow: hidden;"></div>
    </div>

        <div style="height: 20px; overflow: hidden;"></div>
    </div>

    <h2 class="wsite-content-title" style="text-align:center;">food &amp; drink specials</h2>

    <div class="paragraph" style="text-align:center;">DAILY HAPPY HOUR
        <br />
        <br />Select discounts on food and drinks (in the bar areas only)
        <br />Monday through Friday, 4pm-6pm
        <br />
        <% unless happy_hour_menu.nil? %>
        <br />Happy Hour&nbsp; <%= link_to 'MENU', happy_hour_menu %>
        <% end %>
        <br />
        <br />
    </div>
</div>
