---
title: Private Events
---

				<div id="wsite-content" class="wsite-elements wsite-not-footer">
	<h2 class="wsite-content-title" style="text-align:center;">Private Events&nbsp;</h2>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">

<div id=>
Fill out my <a href=>online form</a>.
</div>
<script type="text/javascript">var z436acs0fhzavi;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'theeaglerestaurant',
'formHash':'z436acs0fhzavi',
'autoResize':true,
'height':'761',
'async':true,
'host':'wufoo.com',
'header':'hide',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'secure.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z436acs0fhzavi = new WufooForm();z436acs0fhzavi.initialize(options);z436acs0fhzavi.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>


				</td>			</tr>
		</tbody>
	</table>
</div></div></div>
