---
title: Refund Policy.
---

<article class="no-header">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>Refund Policy</h1>
        <p>We want to make sure you are 100% happy with your order. If you are not 100% satisfied with a purchase made
          at Pepp & Dolores, a refund will be issued on date of purchase only. All refunds will be provided as a credit
          to the credit card used at the time of purchase within five (5) business days upon receipt of the returned
          merchandise. All refunds are at the discretion of Pepp & Dolores. If you feel like your issue has not been
          100% resolved, please <%= link_to 'contact us', '/contact' %>.</p>
      </div>
    </div>

  </div>
</article>
