//
// Elements
//

a {
  color: $link-color;
  font-weight: bold;
  text-decoration: none;

  &:visited {
    color: $link-color;
    text-decoration: none;
  }

  &:hover {
    color: $link-color-hover;
    text-decoration: none;

    svg {
      fill: $link-color-hover;
    }
  }
}

a.caps {
  display: inline-block;
  font-family: $font-headings;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

article {
  margin-top: 30px;

  @media (min-width: $screen-sm) {
    margin-top: 70px;
  }

  &.no-header {
    margin-top: 100px;

    @media (min-width: $screen-sm) {
      margin-top: 160px;
    }
  }
}

section {
  padding: 20px 0;

  &.no-header {
    border-top: 3px solid $color-red;
    padding-bottom: 60px;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

body {
  background-color: $color-white;
  color: $color-white;
  font-family: $font-base;
  -webkit-font-smoothing: antialiased;
}

p {
  &:last-child {
    margin-bottom: 0;
  }

  &.lead {
    color: $color-black;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 0 auto 60px;
    max-width: 1100px;
    text-align: center;
  }
}

p,
ul {
  font-size: 15px;
  line-height: 22px;
}

h1,
h2,
h3 {
  font-family: $font-headings;
  text-transform: uppercase;
}

h4 {
  font-family: $font-headings;
  letter-spacing: 1px;
  padding-top: 20px;

  span {
    font-family: $font-base;
    font-size: 16px;
  }
}

h1 {
  color: $color-white;
  font-size: 26px;
  letter-spacing: 6px;
  line-height: 36px;

  @media (min-width: $screen-sm) {
    font-size: 36px;
    line-height: 46px;
    transform: translateY(-25%);
  }

  @media (min-width: $screen-md) {
    font-size: 70px;
    line-height: 72px;
  }

  @media (min-width: $screen-lg) {
    font-size: 90px;
    line-height: 92px;
  }

  .no-header & {
    color: $color-white;
    margin: 0;

    @media (min-width: $screen-lg) {
      font-size: 48px;
      line-height: 58px;
    }
  }
}

h2 {
  color: $color-white;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 2px;
  margin-top: 0;
}

h3 {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 1px;

  span {
    font-family: $font-base;
    font-size: 15px;
    font-weight: 600;
  }
}

header {
  border-bottom: $border;
  padding: 100px 0 20px;

  @media (min-width: $screen-sm) {
    padding: 164px 0 60px;
  }
}

hr {
  border-top: $border;
}

p.white {
  color: $color-white;
}

//
// Classes
//

.btn {
  &.btn-default {
    color: $color-white;
  }

  &.btn-primary {
    background-color: transparent;
    border-color: $color-white;
    border-radius: 0;
    color: $color-white;
    font-family: $font-headings;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 15px 0;
    padding-top: 10px;
    text-transform: uppercase;

    &:hover {
      background-color: $color-salmon;
      border-color: $color-salmon;
      color: $color-white;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.container-fluid {
  padding: 0;
}

html,
.jPanelMenu-panel {
  background: image-url('main-bg.jpg') bottom repeat !important;
  background-color: white !important;

  &:after {
    background-image: linear-gradient(to bottom right, #000000, #000000);
    content: ' ';
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.text-medium {
  font-size: 18px;
}

$space: 60px;

.space-lg {
  margin-top: $space;
}

.space-md {
  margin-top: $space * 0.8;
}

.space-sm {
  margin-top: $space * 0.5;
}

.space-xs {
  margin-top: $space * 0.2;
}

ul {
  &.custom-list-style {
    padding-left: 26px;

    li {
      list-style: none;

      &:before {
        border: 1px solid $color-red;
        border-radius: 50%;
        content: ' ';
        display: inline-block;
        height: 7px;
        margin-left: -20px;
        margin-right: 10px;
        width: 7px;
      }
    }
  }
}
