// Typography
$font-base: 'Montserrat', sans-serif;
$font-headings: 'Krona One', sans-serif;
$font-nav: $font-headings;

// Pepp & Dolores Colors
$color-white: #fff;
$color-orange-light: #ddc9a2;
$color-red-orange-dark: #5c3327;
$color-black: #000;
$color-red: #9f1111;
$color-gold: #ddc9a2;

// Colors
$white-dirty: #e8e7e6;
$brown-lighter: #9b8173;
$brown-light: #7d665a;
$brown: #5f4b41;
$brown-dark: #413027;
$brown-darker: #23150e;
$orange: #d5875f;
$red-lighter: #d95745;

// Links
$link-color: $color-red;
$nav-color-active: $color-gold;
$link-color-dark: #71452f;
$link-color-hover: $color-orange-light;

// Buttons
$primaryButtonBackground: $link-color;

// Border
$border: 2px solid $color-gold;
