// Typography
$font-base: 'Reem Kufi', sans-serif;
$font-headings: 'Orbitron', sans-serif;
$font-nav: $font-headings;

// Kaze Colors
$color-white: #fff;
$color-orange-light: #ee9c90;
$color-red-orange-dark: #5c3327;
$color-black: #000;
$color-red: #9f1111;
$color-gold: #ddc9a2;
$color-salmon: #d96858;

// Colors
$white-dirty: #e8e7e6;
$brown-lighter: #9b8173;
$brown-light: #7d665a;
$brown: #5f4b41;
$brown-dark: #413027;
$brown-darker: #23150e;
$orange: #d5875f;
$red-lighter: #d95745;

// Links
$link-color: $color-salmon;
$nav-color-active: $color-salmon;
$link-color-dark: #71452f;
$link-color-hover: $color-orange-light;

// Buttons
$primaryButtonBackground: $link-color;

// Border
$border: 2px solid $color-white;
