---
title: Private Events.
---
<header>
  <div class="container">
    <h1>Private Events</h1>
  </div>
</header>

<article>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="intro">
          <p class="lead white">Host your event at Kaze and treat your guests to a memorable experience. With a warm atmosphere, shareable food and over 100 tequilas and American whiskeys, it guarantees party success.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 has-image">
        <%= image_tag 'private-events-cincinnati.jpg', alt:'', class:'img-responsive' %>

        <div class="location">
          <h2>Cincinnati</h2>
          <address>
            <a href="https://www.google.com/maps/place/143+Walnut+St,+Cincinnati,+OH+45215,+USA/@39.09819,-84.5127443,17z/data=!3m1!4b1!4m5!3m4!1s0x8841b15ab4fdd741:0x556dd1ae0cb95982!8m2!3d39.09819!4d-84.5105503"
              target="_blank">
              143 Walnut St. Cincinnati, OH 45202
            </a>
          </address>
          <a href="tel:513-867-5309">(513) 867-5309</a>
        </div>
      </div>

      <div class="col-sm-6">
        <p>The original home of Kaze. This small but mighty location brings a unique energy to the heart of
          Over the Rhine. It's perfect for renting out entirely.</p>

        <h4>Great for...</h4>
        <ul class="custom-list-style">
          <li>Company events</li>
          <li>Holiday Parties</li>
          <li>Rehearsal Dinners</li>
        </ul>

        <h4>Restaurant rental: <span>67 Seats</span></h4>

        <a href="/private-events/plan-a-party.html" class="btn btn-primary">Plan a Party</a>
      </div>
    </div>
  </div>
  </div>
</article>
