---
title: Plan a Party.
---
<header>
  <div class="container">
    <h1>Plan a Party</h1>
  </div>
</header>

<article>
  <div class="container">
    <div class="row push-top">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h2>Cincinnati</h2>
        <p class="lead">Parties for this location require renting the entire restaurant which seats up to 67 guests.</p>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2" id="wufoo-z9aiuo21cv5yvb"></div>
      </div>
    </div>

    <script type="text/javascript">
      var pqaxv391vpby79;
      (function (d, t) {
        var s = d.createElement(t),
          options = {
            'userName': 'theeaglerestaurant',
            'formHash': 'z9aiuo21cv5yvb',
            'autoResize': true,
            'height': '681',
            'async': true,
            'host': 'wufoo.com',
            'header': 'hide',
            'ssl': true
          };
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function () {
          var rs = this.readyState;
          if (rs)
            if (rs != 'complete')
              if (rs != 'loaded') return;
          try {
            z9aiuo21cv5yvb = new WufooForm();
            z9aiuo21cv5yvb.initialize(options);
            z9aiuo21cv5yvb.display();
          } catch (e) {}
        };
        var scr = d.getElementsByTagName(t)[0],
          par = scr.parentNode;
        par.insertBefore(s, scr);
      })(document, 'script');

    </script>
  </div>
</article>
