---
title: Privacy Policy.
---

<article class="no-header">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h1>Privacy Policy</h1>
        <p>Customer information is collected for the purpose of processing your order. This information is kept
          confidential and is not shared. Pepp & Dolores will only collect and use your personal information in order to
          make Pepp & Dolores better, faster, and more convenient for you. We will never disclose your personal
          information without your explicit consent.</p>

        <p>Pepp & Dolores operates peppanddolores.com in order to provide information about its restaurant as well as
          services to its customers. This Privacy Policy serves as the agreement between Pepp & Dolores and visitors
          to or users of the Website (collectively, “you” or “Users”), and governs our use of your personal
          information that we collect from you. The purpose of this Privacy Policy is to inform you how Pepp & Dolores
          may use that information, whether we disclose it to anyone, and the choices you have regarding your
          information.</p>

        <h2 class="space-md">Visitor Tracking</h2>
        <p>Pepp & Dolores places great importance on maintaining and protecting your private information. We do not
          require site registration to access the Website, in which case the only information collected is standard
          internet information such as cookies and server logs. However, certain information supplied by Users,
          particularly Users who have registered on the Website, will be used by Pepp & Dolores to provide you with
          requested information or services. Pepp & Dolores WILL NOT share your personal information with any other
          companies or individuals. Pepp & Dolores reserves the right to perform statistical analyses of User
          behavior in order to measure consumer interest in the various areas of our Website.</p>

        <h2 class="space-md">Registration and Volunteered Information</h2>
        <p>Portions of the Website require that Users give us contact information, such as a contact name, mailing
          address, phone number, and e-mail address. If you supply us with your e-mail address, you may receive
          periodic messages from Pepp & Dolores regarding our restaurant, promotions, and services, though you may
          opt out of receiving future mailings pursuant to the opt-out process set forth below.</p>

        <p>If you supply us with your postal address, you may receive periodic mailings from us with information
          on new promotions, services or upcoming events. If you do not wish to receive such mailings, please
          let us know by opting out pursuant to the opt-out process below.</p>

        <h2 class="space-md">Opt-Out Procedure</h2>
        <p>Pepp & Dolores will always provide you the opportunity to opt-out of receiving communications from
          us. You may request at any time not to receive future communications from us by choosing
          ‘unsubscribe’ from the most recent mailing you received. This assures that the email address to
          which we have been sending email is the one you are unsubscribing from our lists.</p>

        <p>If you have any issues regarding your email subscription with us, please
          <%= link_to 'contact us', '/contact' %> and we will assist promptly.</p>
      </div>
    </div>
  </div>
</article>
