---
title: Menu.
---
<header>
  <div class="container">
    <h1>Menu</h1>
  </div>
</header>

<article>
  <div class="container text-center">

    <div class="row">
      <div class="col-sm-12">
        <div class="menu-content">
          <section class="menu-group">
            <h2>Small Bites</h2>
            <ul class="list-unstyled">
              <li><em>Edamame</em>nagasaki salt</li>
              <li><em>Shishitos</em>blistered japanese peppers, ponzu, bonito flake</li>
              <li><em>Chilled Sesame Noodle</em>sesame vinaigrette</li>
              <li><em>Poke Bowl</em>marinated cubed sashimi, avocado, sushi rice, sesame seed, chive</li>
              <li><em>Edamame</em>nagasaki salt</li>
              <li><em>Edamame</em>nagasaki salt</li>
            </ul>
          </section>

          <section class="menu-group">
            <h2>Soups & Salads</h2>
            <ul class="list-unstyled">
              <li><em>Warm olives</em>stuffed with sicilian almonds</li>
              <li><em>tuna crudo</em>green olives, chili, crispy farro</li>
              <li><em>insalata misticanza</em>sesame, radish, crispy pepperoni</li>
              <li><em>san daniele prosciutto</em>black mission figs, pecorino toscano</li>
              <li><em>octopus alla piastra</em>'nduja, salsa giallo</li>
              <li><em>heirloom tomato salad</em>summer melon, cucumber, ros&eacute; vinegar</li>
              <li><em>beet carpaccio</em>idyll farms goat cheese, hazelnuts,pickled cherries</li>
              <li><em>burrata di bufala</em>charred jimmy nardello peppers, dandelion</li>
            </ul>
          </section>

          <section class="menu-group">
            <h2>Dumplings</h2>
            <ul class="list-unstyled">
              <li><em>pappardelle</em>sweet corn ragu, bacon, roasted chanterelle mushrooms</li>
              <li><em>malfadini</em>rapini pesto, sweet and sour peppers, pine nuts</li>
              <li><em>bucatini calabrese</em>manila clams, neonata, sicilian oregano</li>
              <li><em>black shells puttanesca</em>ruby red shrimp, calamari</li>
            </ul>
          </section>
          
          <section class="menu-group">
            <h2>Yakitori</h2>
            <ul class="list-unstyled">
              <li><em>Warm olives</em>stuffed with sicilian almonds</li>
              <li><em>tuna crudo</em>green olives, chili, crispy farro</li>
              <li><em>insalata misticanza</em>sesame, radish, crispy pepperoni</li>
              <li><em>san daniele prosciutto</em>black mission figs, pecorino toscano</li>
              <li><em>octopus alla piastra</em>'nduja, salsa giallo</li>
              <li><em>heirloom tomato salad</em>summer melon, cucumber, ros&eacute; vinegar</li>
              <li><em>beet carpaccio</em>idyll farms goat cheese, hazelnuts,pickled cherries</li>
              <li><em>burrata di bufala</em>charred jimmy nardello peppers, dandelion</li>
            </ul>
          </section>
          
          <section class="menu-group">
            <h2>Buns</h2>
            <ul class="list-unstyled">
              <li><em>Warm olives</em>stuffed with sicilian almonds</li>
              <li><em>tuna crudo</em>green olives, chili, crispy farro</li>
              <li><em>insalata misticanza</em>sesame, radish, crispy pepperoni</li>
              <li><em>san daniele prosciutto</em>black mission figs, pecorino toscano</li>
              <li><em>octopus alla piastra</em>'nduja, salsa giallo</li>
              <li><em>heirloom tomato salad</em>summer melon, cucumber, ros&eacute; vinegar</li>
              <li><em>beet carpaccio</em>idyll farms goat cheese, hazelnuts,pickled cherries</li>
              <li><em>burrata di bufala</em>charred jimmy nardello peppers, dandelion</li>
            </ul>
          </section>
          
          <section class="menu-group">
            <h2>Omakase</h2>
            <ul class="list-unstyled">
              <li><em>Warm olives</em>stuffed with sicilian almonds</li>
              <li><em>tuna crudo</em>green olives, chili, crispy farro</li>
              <li><em>insalata misticanza</em>sesame, radish, crispy pepperoni</li>
              <li><em>san daniele prosciutto</em>black mission figs, pecorino toscano</li>
              <li><em>octopus alla piastra</em>'nduja, salsa giallo</li>
              <li><em>heirloom tomato salad</em>summer melon, cucumber, ros&eacute; vinegar</li>
              <li><em>beet carpaccio</em>idyll farms goat cheese, hazelnuts,pickled cherries</li>
              <li><em>burrata di bufala</em>charred jimmy nardello peppers, dandelion</li>
            </ul>
          </section>
          
          <section class="menu-group">
            <h2>Shareable Rice</h2>
            <ul class="list-unstyled">
              <li><em>Warm olives</em>stuffed with sicilian almonds</li>
              <li><em>tuna crudo</em>green olives, chili, crispy farro</li>
              <li><em>insalata misticanza</em>sesame, radish, crispy pepperoni</li>
              <li><em>san daniele prosciutto</em>black mission figs, pecorino toscano</li>
              <li><em>octopus alla piastra</em>'nduja, salsa giallo</li>
              <li><em>heirloom tomato salad</em>summer melon, cucumber, ros&eacute; vinegar</li>
              <li><em>beet carpaccio</em>idyll farms goat cheese, hazelnuts,pickled cherries</li>
              <li><em>burrata di bufala</em>charred jimmy nardello peppers, dandelion</li>
            </ul>
          </section>
          
          <section class="menu-group">
            <h2>Bowls</h2>
            <ul class="list-unstyled">
              <li><em>Warm olives</em>stuffed with sicilian almonds</li>
              <li><em>tuna crudo</em>green olives, chili, crispy farro</li>
              <li><em>insalata misticanza</em>sesame, radish, crispy pepperoni</li>
              <li><em>san daniele prosciutto</em>black mission figs, pecorino toscano</li>
              <li><em>octopus alla piastra</em>'nduja, salsa giallo</li>
              <li><em>heirloom tomato salad</em>summer melon, cucumber, ros&eacute; vinegar</li>
              <li><em>beet carpaccio</em>idyll farms goat cheese, hazelnuts,pickled cherries</li>
              <li><em>burrata di bufala</em>charred jimmy nardello peppers, dandelion</li>
            </ul>
          </section>
          
          <section class="menu-group">
            <h2>Sashimi</h2>
            <ul class="list-unstyled">
              <li><em>Warm olives</em>stuffed with sicilian almonds</li>
              <li><em>tuna crudo</em>green olives, chili, crispy farro</li>
              <li><em>insalata misticanza</em>sesame, radish, crispy pepperoni</li>
              <li><em>san daniele prosciutto</em>black mission figs, pecorino toscano</li>
              <li><em>octopus alla piastra</em>'nduja, salsa giallo</li>
              <li><em>heirloom tomato salad</em>summer melon, cucumber, ros&eacute; vinegar</li>
              <li><em>beet carpaccio</em>idyll farms goat cheese, hazelnuts,pickled cherries</li>
              <li><em>burrata di bufala</em>charred jimmy nardello peppers, dandelion</li>
            </ul>
          </section>
          
          <section class="menu-group">
            <h2>Sushi Rolls</h2>
            <ul class="list-unstyled">
              <li><em>Warm olives</em>stuffed with sicilian almonds</li>
              <li><em>tuna crudo</em>green olives, chili, crispy farro</li>
              <li><em>insalata misticanza</em>sesame, radish, crispy pepperoni</li>
              <li><em>san daniele prosciutto</em>black mission figs, pecorino toscano</li>
              <li><em>octopus alla piastra</em>'nduja, salsa giallo</li>
              <li><em>heirloom tomato salad</em>summer melon, cucumber, ros&eacute; vinegar</li>
              <li><em>beet carpaccio</em>idyll farms goat cheese, hazelnuts,pickled cherries</li>
              <li><em>burrata di bufala</em>charred jimmy nardello peppers, dandelion</li>
            </ul>
          </section>
        </div>
      </div>
    </div>

  </div>
</article>
