---
title: Menu.
---
<header>
  <div class="container">
    <h1>Menu</h1>
  </div>
</header>

<article>
  <div class="container text-center">

    <div class="row">
      <div class="col-sm-12">
        <div class="menu-content">
          <section class="menu-group">
            <h2>Small Bites</h2>
            <ul class="list-unstyled">
              <li><em>Edamame</em>nagasaki salt</li>
              <li><em>Shishitos</em>blistered japanese peppers, ponzu, bonito flake</li>
              <li><em>Chilled Sesame Noodle</em>sesame vinaigrette</li>
              <li><em>Poke Bowl</em>marinated cubed sashimi, avocado, sushi rice, sesame seed, chive</li>
              <li><em>Tuna Tataki</em>seared tuna, cripsy wonton, pickled red onion, micro greens, mango habanero sauce</li>
              <li><em>Hamachi Crudo</em>yellowtail, orange, lime, fresno, pickled red onion, crispy wonton, chive</li>
            </ul>
          </section>

          <section class="menu-group">
            <h2>Soups & Salads</h2>
            <ul class="list-unstyled">
              <li><em>Kaze Salad</em>avocado, cucumber, radish, shishito, shiso vinaigrette</li>
              <li><em>Carrot Ginger Salad</em>mixed greens, radicchio, radish, crispy wonton, carrot ginger dressing</li>
              <li><em>Ramen Soup</em>pork belly, bok choy, poached egg, bamboo sheet, scallion, chili oil</li>
              <li><em>Miso Soup</em>tofu, kelp, mushroom</li>
            </ul>
          </section>

          <section class="menu-group">
            <h2>Dumplings</h2>
            <ul class="list-unstyled">
              <li><em>Veggie Dumplings</em>pan seared dumplings, mushroom, mustard greens, bamboo shoot, sweet ponzu</li>
              <li><em>Chicken Ginger Dumplings</em>steamed chicken dumplings, watercress, radish, lemongrass, chicken broth</li>
              <li><em>Chili Dumplings</em>steamed pork, shrimp, szechuan chili sauce, fried garlic, green onion</li>
            </ul>
          </section>
          
          <section class="menu-group">
            <h2>Yakitori (2 skewers per order)</h2>
            <ul class="list-unstyled">
              <li><em>Wagyu Skirt Steak</em>wagyu skirt steak, shiso, lemon</li>
              <li><em>King Salmon</em>king salmon, chive, lemon</li>
              <li><em>Chicken & Scallion</em>chicken thigh, scallion, chive, lemon</li>
              <li><em>Asparagus</em>jumbo asparagus, nori aioli, garlic crumble</li>
            </ul>
          </section>
          
          <section class="menu-group">
            <h2>Buns</h2>
            <ul class="list-unstyled">
              <li><em>Pork Belly Bun</em>apple, frisee, mustard vinaigrette, chive</li>
              <li><em>Shrimp Bun</em>tempura shrimp, shishito, red cabbage, wasabi aioli, mango sauce, chive</li>
              <li><em>Spicy Katsu Bun</em>panko breaded chicken, house pickles, spicy scallion slaw, chive</li>
            </ul>
          </section>
          
          <section class="menu-group">
            <h2>Omakase</h2>
            <ul class="list-unstyled">
              <li><em>$25 per person</em>A multi-course experience designed for parties of 6 or more</li>
            </ul>
          </section>
          
          <section class="menu-group">
            <h2>Shareable Rice</h2>
            <ul class="list-unstyled">
              <li><em>White Rice</em>seasoned or unseasoned</li>
              <li><em>Fried Rice</em>egg, onion, carrot, peas, bok choy</li>
              <li><em>Veggie</em>soy mushroom, broccoli</li>
              <li><em>Chicken</em>house brined chicken thigh</li>
              <li><em>Two Way Pork</em>glazed pork belly, chinese sausage</li>
              <li><em>Thai Spicy</em>thai basil, bird chili</li>
            </ul>
          </section>
          
          <section class="menu-group">
            <h2>Bowls</h2>
            <ul class="list-unstyled">
              <li><em>Roasted Vegetables</em>seasonal vegetables, tofu, rice, miso butter</li>
              <li><em>Chicken Katsu</em>panko crusted chicken, bok choy, yuzu aioli, tare, red cabbage, rice</li>
              <li><em>Salmon</em>7 pepper crust, crispy wonton, bok choy, eggplant, soy roasted mushrooms, general tso's</li>
            </ul>
          </section>
          
          <section class="menu-group">
            <h2>Sashimi (5pc.)</h2>
            <ul class="list-unstyled">
              <li><em>Tuna</em>daikon, avocado, sesame soy, green onion</li>
              <li><em>Salmon</em>cucumber, radish, sweet ponzu, micro greens</li>
              <li><em>Yellowtail</em>daikon, white soy, watercress, shisho vinaigrette, fresno</li>
            </ul>
          </section>
          
          <section class="menu-group">
            <h2>Sushi Rolls (half - 5pc./full - 10pc.)</h2>
            <ul class="list-unstyled">
              <li><em>"OTR"</em>tuna, avocado, cucumber, spicy scallion aioli, ponzu</li>
              <li><em>Spicy Tuna</em>tuna, avocado, spicy scallion aioli, cucumber, tsume</li>
              <li><em>California</em>crab, avocado, cucumber, quinoa crunch, wasabi aioli</li>
              <li><em>Hamachi</em>yellowtail, blistered jalapeno, avocado, radish sprout, chive, mango sauce</li>
              <li><em>Blackened Salmon</em>baked salmon, pickled red onion, cucumber, radish sprout, crsipy sweet potato, yuzu aioli, eel sauce</li>
              <li><em>Salmon & Shrimp</em>king salmon, tempura shrimp, jalapeno, sesame soy</li>
              <li><em>Green (8pc.)</em>soy paper, avocado, bibb lettuce, roasted asparagus, cucumber, radish sprout, gobo root, wasabi aioli</li>
            </ul>
          </section>
        </div>
      </div>
    </div>

  </div>
</article>
