			<object data="<%= file %>" type="application/pdf" width="100%" height="<%= height rescue '800px' %>">
				<p>It appears you don't have a PDF plugin for this browser. <%= link_to 'Click here to download the PDF file', file %></p>
			</object>