---
title: Happy Hour
---



				<div id="wsite-content" class="wsite-elements wsite-not-footer">
	<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



<h2 class="wsite-content-title" style="text-align:center;">Happy hour &nbsp;daily</h2>

<div class="paragraph" style="text-align:left;"><font size="4">Ditch the desk and head on over, and don't forget to invite your friends.<br /><br /><strong>Highlights</strong>:<br />&nbsp; &nbsp;&bull; Specialty cocktails are $5<br />&nbsp; &nbsp;&bull; Discounted select sushi rolls<br />&nbsp; &nbsp;&bull; Ramen is only $4.5<br /><br />Where else can you get a deal like that? Exactly.&nbsp;</font><br /><br /><font size="4"><span>**Please note that the Happy Hour specials are ONLY offered in the bar (inside, outside, and sushi bar -- not the dining room, however)</span></font><br /><br /><font size="4"><em>Download the menu <a href="uploads/1/3/6/0/13606600/6.15.17_single.pdf">HERE</a></em></font></div>



				</td>				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



<div class="wsite-scribd">




			<div title="Scribd: 6.15.17_single.pdf" id="doc_351389530" style="background-color:#fff"></div>
			<script type="text/javascript">
			if (!window.scribd_js_loaded) {
				window.scribd_js_loaded = true;
				document.write("<scr"+"ipt type=\"text/javascript\" src=\"//www.scribd.com/javascripts/scribd_api.js\"></scr"+"ipt>");
			}
			</script>
			<script type="text/javascript">
			var scribd_doc_351389530 = scribd.Document.getDoc(351389530, "key-r2kWs1FD5IdXFZUq8vB9");
			scribd_doc_351389530.addParam("jsapi_version", 2);
			scribd_doc_351389530.addParam("height", 500);
			scribd_doc_351389530.addParam("width", "100%");
			scribd_doc_351389530.write("doc_351389530");
			</script>
			</div>



				</td>			</tr>
		</tbody>
	</table>
</div></div></div>
</div>
