---
title: Kaze Restaurant
---


	<div id="wsite-content" class="wsite-elements wsite-not-footer">
	<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:0px;text-align:center">
<a href='store/p4/Kaze_Gift_Cards.html'>
<%= image_tag 'uploads/1/3/6/0/13606600/kaze-website-collage-2-2-17_orig.jpg', style: 'width:757;max-width:100%' %>
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<h2 class="wsite-content-title" style="text-align:center;"><font size="4">Check out our video Feature on Cincinnati Refined</font></h2>

<div class="wsite-video"><div title="Video: kaze_sushi_-_11.28.16_189.mp4" class="wsite-video-wrapper wsite-video-height-282 wsite-video-align-center">
					<div id="wsite-video-container-545217494993930720" class="wsite-video-container" style="margin: 10px 0 10px 0;">

					</div>
				</div></div>

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="http://www.opentable.com/kaze-reservations-cincinnati?restref=98476" target="_blank">
<span class="wsite-button-inner">Make a Reservation</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>
</div>

