---
title: Menus
---
<div id="wsite-content" class="wsite-elements wsite-not-footer">
    <div class="wsite-scribd">
      <%= partial 'pdf', locals: { file: data.kaze.menus.first.href } %>
    </div>
    <div class="paragraph" style="text-align:left;"><strong><font size="3">Download Our Menus</font></strong>
        <br />
				<% data.kaze.menus.each do |menu| %>
        	<br /><strong>&bull; <%= link_to menu.title, menu.href %></strong>
				<% end %>
        <br />
        <br />*NOTE: Please keep in mind that our menus are subject to change due to seasonality and availability of best products. We will always do our best to accommodate allergies and other dietary restrictions. Feel free to inquire via <a href="mailto:info@kazeotr.com">email</a> with special requests. Thanks!&nbsp;</div>
</div>