---
title: Contact
---

				<div id="wsite-content" class="wsite-elements wsite-not-footer">
	<h2 class="wsite-content-title" style="text-align:center;">HAVE A QUESTION? GIVE US A CALL OR SHOOT US AN EMAIL.&nbsp;</h2>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



<div class="paragraph" style="text-align:center;"><strong>Phone</strong>: 513-898-7991<br /><strong>Email</strong>:&nbsp;<a href="mailto:info@kazeotr.com">info@kazeotr.com</a><br /><br /><u>Hours of Operation</u><br />Monday - closed<br />Tuesday - 4 p.m. to 9 p.m. (Dinner)<br />Wednesday &amp; Thursday 4 p.m. to 10 p.m. (Dinner)<br />Friday 4 p.m. to 11 p.m. (Dinner)<br />Saturday noon to 11 p.m. (Lunch and Dinner)<br />Sunday noon to 9 p.m. (Lunch and Dinner)</div>

<div style="text-align:center;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-highlight" href="http://www.opentable.com/kaze-reservations-cincinnati?restref=98476" target="_blank">
<span class="wsite-button-inner">Make a Reservation</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>



				</td>				<td class="wsite-multicol-col" style="width:50%; padding:0 15px;">



<div class="wsite-map"><iframe allowtransparency="true" frameborder="0" scrolling="no" style="width: 100%; height: 250px; margin-top: 10px; margin-bottom: 10px;" src="http://www.weebly.com/weebly/apps/generateMap.php?map=google&amp;elementid=141257165447133164&amp;ineditor=0&amp;control=3&amp;width=350px&amp;height=250px&amp;overviewmap=0&amp;scalecontrol=0&amp;typecontrol=0&amp;zoom=15&amp;long=-84.5151710&amp;lat=39.1110650%20&amp;domain=www&amp;point=1&amp;align=2&amp;reseller=false"></iframe></div>



				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<h2 class="wsite-content-title" style="text-align:center;">private dining</h2>

<div class="paragraph" style="text-align:left;"><span>&#65279;</span>If you are interested in booking any or all of our spaces (dining room, indoor bar, or outdoor patio) for a private event, we would be happy to accommodate. Just let us know what you have in mind.<br /><br />For more information regarding available dates, features, etc., please, click the link below, give us a call, or email us.&nbsp;<br /></div>

<div style="text-align:left;"><div style="height: 10px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-small wsite-button-normal" href="https://gatherhere.com/inquiries/brhtpcm0" target="_blank">
<span class="wsite-button-inner">Private Events Bookings</span>
</a>
<div style="height: 10px; overflow: hidden;"></div></div>

<div class="paragraph"><strong>Email</strong><a href="mailto:privatedining@kazeotr.com">: privatedining@kazeotr.com</a><br /><strong>Phone</strong><span>: 513.898.7991</span></div>

<h2 class="wsite-content-title" style="text-align:center;">directions</h2>
<div class="paragraph" style="text-align:left;display:block;">We are located on the Northeast corner of 14th and Vine Street in the historic Color Building.&nbsp;<br /><br />From I-71 South - Take Exit 2 and merge onto US 42 S/Reading Road. Continue straight onto Central Parkway. Take a right onto Vine Street. The restaurant is on your right.&nbsp;<br /><br />From I-471 North (Kentucky) - Take Exit 7 for Liberty Street. Turn left onto Reading Road. Continue onto E. Central Parkway. Take a right onto Vine Street. The restaurant is on your right.<br />----------</div>
</div>

